{
"presets": ["react-native"],
"plugins": [
  ["module-resolver", {
    "root": ["./src"],
    "alias": {
    	"actions": "./src/actions",
    	"reducers": "./src/reducers",
    	"components": "./src/components",
      "custom":"./src/components/custom",
    	"common": "./src/components/common",
    	"schemas": "./src/schemas",
      "styles": "./src/styles",
    }
  }]
]
}